@page
@model PhoneBookApp.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<style>
.form-group{
    margin-bottom:20px;
}

</style>
<h1>Edit</h1>

<h4>Phone Book Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PhoneBookItem.Id" />
            <div class="form-group">
                <label asp-for="PhoneBookItem.Name" class="control-label"></label>
                <input asp-for="PhoneBookItem.Name" class="form-control" />
                <span asp-validation-for="PhoneBookItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneBookItem.PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneBookItem.PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneBookItem.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneBookItem.AdditionDate" class="control-label"></label>
                <input asp-for="PhoneBookItem.AdditionDate" class="form-control" />
                <span asp-validation-for="PhoneBookItem.AdditionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
